{% extends "BookReviewBookBundle::layout.html.twig" %}

{% block title %}Add a new book{% endblock %}

{% block body %}
<h1>Add a new book to the list</h1>
    <p>On this page you will be able to add a book to the system which contains books to review</p>
    {{ form(form) }}
{% endblock %}
