{% extends "BookReviewBookBundle::layout.html.twig" %}

{% block title %}Delete a book{% endblock %}

{% block body %}
<h1>Delete a book in the list</h1>
    <p>On this page you will be able to delete books from the system</p>
{% endblock %}
