{% extends "BookReviewBookBundle::layout.html.twig" %}

{% block title %}Edit an existing book{% endblock %}

{% block body %}
<h1>Edit books in the list</h1>
    <p>Here you will be able to edit or update existing books in the system</p>
{% endblock %}
