{% extends "BookReviewBookBundle::layout.html.twig" %}

{% block title %}Edit a book{% endblock %}

{% block body %}
    <div>
        <h1>Edit a book</h1>
        {{ form(form) }}
        <button type="button" class="btn btn-link"><a href="{{ path('bookreview_books_delete',{id: book.id}) }}">Delete book</a></button>
    </div>
{% endblock %}
