{% extends "BookReviewBookBundle::layout.html.twig" %}

{% block title %}View all books{% endblock %}

{% block body %}
<h1>Books List</h1>
<p>This is the view book page, where you can see all the books available to review</p>
{% endblock %}
