{% extends '::base.html.twig' %}
{% block sidebar %}
    <h3>Site Navigation</h3>
    <li><a href="{{ path('bookreview_books_view') }}">View books</a></li>
    <li><a href="{{ path('bookreview_books_create') }}">Add a new book</a></li>
    <li><a href="{{ path('bookreview_books_edit') }}">Edit an existing book</a></li> {#admin only#}
    <li><a href="{{ path('bookreview_books_delete') }}">Delete a book</a></li> {#admin only#}
{% endblock %}