{% extends 'BookReviewBookBundle::layout.html.twig' %}
{% block title %}About{% endblock%}
{% block body %}
    <header>
        <h1>About Book Review</h1>
    </header>
    <article>
        <p>This site was created in order to allow users to review books. The books may be added, if not already added. You must be a member in order to add and delete books.
        You also must be a member to create and edit reviews, however all unauthorised guests may read reviews. </p>
    </article>
{% endblock %}
