{% extends 'BookReviewBookBundle::layout.html.twig' %}

{% block title %}Book Search{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Search <small>by title, author, genre or publisher</small></h1>
    </div>

    {{ form(form) }}
{% endblock %}