{% extends "BookReviewBookBundle::layout.html.twig" %}

{% block title %}Add new book review{% endblock %}

{% block body %}
    <h1>Write your review for {{ title }}</h1>
    {{ form(form) }}
{% endblock %}
