{% extends "BookReviewBookBundle::layout.html.twig" %}

{% block title %}Edit a review{% endblock %}

{% block body %}
    <div>
        <h1>Edit review here for {{ book.title }}</h1>
        {{ form(form) }}
    </div>
{% endblock %}
