{% extends "::base.html.twig" %}

{% block body %}
    <div class="reviews">
        {% for review in reviews %}
            <ul class="list-group">
                <li class="list-group-item">Username: {{ review.username }}</li>
                <li class="list-group-item">Date Created: {{ review.datecreated | date }}</li>
                <li class="list-group-item">Review: {{ review.review }}</li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}
