{% extends "::base.html.twig" %}

{% block body %}
    <div class="reviews">
    {% for review in reviews %}
        <p>{{ review.review }}</p>
        <p>{{ review.username }}</p>
    {% endfor %}
    </div>
{% endblock %}
